@font-face {
  font-family: 'RoadTest';
  font-style: normal;
  font-weight: 400;
  src: local('RoadTest'),
    url('https://fonts.cdnfonts.com/s/73474/RoadTest.woff') format('woff');
}

@font-face {
  font-family: 'RoadTest';
  font-style: italic;
  font-weight: 400;
  src: local('RoadTest'),
    url('https://fonts.cdnfonts.com/s/73474/RoadTest Italic.woff') format('woff');
}


.navbar-brand {
  font-family: 'RoadTest', sans-serif;
  font-size: 22px;
  letter-spacing: 10px;
}

.navbar {
  position: sticky
  
  ;
  top: 0;
  z-index: 1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.card-container {
  max-width: 4200px;
  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.services-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 80px;
}

.service-card {
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.services {
  background-color: #f5f7fa;
  padding: 60px 30px;
  border-radius: 12px;
}










.form-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.radio-group {
  margin-top: 10px;
}

.radio-group input {
  margin-right: 5px;
  margin-left: 10px;
}

.checkbox {
  margin-top: 15px;
}

button {
  margin-top: 25px;
  width: 150px;
  padding: 10px;
  background: #212529;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #000;
}
